[user]
	email = michelelacchia@gmail.com
	name = Michele Lacchia
[credential]
	helper = 
[format]
	pretty = oneline
[color]
	ui = true
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
