[user]
	email = michelelacchia@gmail.com
	name = Michele Lacchia
	signingkey = C72C9D3692C0442F05E65735DEE7681EEF8BC117
[credential]
	helper = cache --timeout=3600
[format]
	pretty = oneline
[color]
	ui = true
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status
	d = diff
	b = branch
	co = checkout
	c = commit
	cm = commit -m
	cam = commit -am
[core]
	editor = nvim
	autocrlf = false
[color "diff"]
	meta = bold
	frag = yellow
[gpg]
	program = gpg
[rerere]
	enabled = true
[pull]
	rebase = false
