#include ".Xresources.hidpi"
#include ".Xresources.duotone"

! Display settings
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.rgba: rgb

! Make Man pages colored
*VT100.colorBDMode:     true
*VT100.colorBD:         red
*VT100.colorULMode:     true
*VT100.colorUL:         cyan
*VT100.veryBoldColors:  6

! Native transparency
URxvt.transparent: false
URxvt.shading: 15

! Set the icon
URxvt.iconFile: /usr/share/icons/gnome/256x256/apps/terminal.png

! Adjust the scrollbar
URxvt.scrollBar: false

! Adjust the geometry
URxvt.geometry: 90x37

! Keep borders
URxvt.borderLess: false

! Font and letter spacing
URxvt.letterSpace: 0

! Perl extensions
URxvt.perl-ext-common: default

URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-v:     \026

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:ff292a44, #252a35, #000000
rofi.color-normal: argb:00B2C7D2, argb:ff678bdc, argb:00B2C7D2, argb:00ffffff, argb:ff2de0a7
rofi.color-active: #2de0a7, #ffffff, #2de0a7, #2de0a7, #2de0a7
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3

rofi.fake-transparency: true
rofi.columns: 3
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.location: 0
rofi.padding: 300
rofi.fullscreen: true
rofi.width: 1920
rofi.lines: 20
