#include ".Xresources.hidpi"
#include ".Xresources.colors"

! Make Man pages colored
*VT100.colorBDMode:     true
*VT100.colorBD:         red
*VT100.colorULMode:     true
*VT100.colorUL:         cyan
*VT100.veryBoldColors:  6

! Native transparency
URxvt.transparent: true
URxvt.shading: 25

! Set the icon
URxvt.iconFile: /usr/share/icons/gnome/256x256/apps/terminal.png

! Adjust the scrollbar
URxvt.scrollBar: false

! Adjust the geometry
URxvt.geometry: 90x37

! Keep borders
URxvt.borderLess: false

! Font and letter spacing
URxvt.letterSpace: -1

! Perl extensions
URxvt.perl-ext-common: default

URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-v:     \026

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
