<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="system-menu" label="System">
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications"/>
		<item label="URxvt">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<item label="Chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item label="Thunar">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<menu id="apps-office-menu"/>
		<menu id="apps-multimedia-menu"/>
		<menu id="system-menu"/>
		<separator/>
        <item label="Suspend">
            <action name="Execute">
                <execute>gksudo pm-suspend</execute>
            </action>
        </item>
		<item label="Reboot">
			<action name="Execute">
				<execute>gksudo reboot</execute>
			</action>
        </item>
        <item label="Shutdown">
            <action name="Execute">
                <execute>gksudo poweroff</execute>
            </action>
        </item>
	</menu>
</openbox_menu>
